.mt50 {
    margin-top: 50px;
}

.bgcl {
    background-color: beige;
}

.fs {
    font-size: 14px;
}

.fixh {
    height: 250px;
}

.fixw {
    float: right;
}

.mt10 {
    margin-top: 30px;
}
.mb10 {
    margin-bottom: 10px;
}
.mt200 {
    margin-top: 64px;
}

.mt70 {
    margin-top: 70px;
}

.mt12 {
    margin-top: 12px;
}

.mt100 {
    margin-top: 100px;
}

.mb70 {
    margin-bottom: 70px;
}

.pt40 {
    padding-top: 40px;
}
.pt70 {
    padding-top: 70px;
}
.h300 {
    height: 300px;
}

.mb40 {
    margin-bottom: 80px;
}

/* add cart*/
.add-to-cart-button {
    width: 100%;
    background-color: rgb(141, 137, 137); 
    border: none; 
    color: white; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 4px; 
  }
  
  
  .add-to-cart-button:hover {
    background-color: #29a838; 
  }
  
  /* CSS khi nhấn vào nút */
  .add-to-cart-button:active {
    background-color: #367d39; 
  }

  .center1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
  }

.col5 {
    display: block;
    float: right;
    width: 20%;
    grid-gap: 10px; 
}
.colfix {
    background-color: #f2f2f2;
    padding: 10px;
}


.pro-pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pro-pagination ul {
    list-style: none;
    padding: 0;
}

.pro-pagination li {
    display: inline;
    margin: 0 5px;
}

.pro-pagination li a {
    padding: 8px 12px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    color: #333;
    text-decoration: none;
}

.pro-pagination li.active span {
    background-color: #a2a8ae;
    color: #fff;
}

.pro-pagination li a:hover {
    background-color: #898e94;
    color: #fff;
}

.col-img {
    position: relative; 
}

.category-img {
    height: 335px; 
    width: auto; 
    object-fit: cover; 
    border-radius: 8px; 
}

.dd {
    position: absolute; 
    top: 10px; 
    left: 10px; 
    color: white; 
    z-index: 1; 
    background-color: rgba(158, 138, 138, 0.408);
    padding: 5px; 
    border-radius: 5px; 
    font-weight: 300px;
    font-size: 22px;
}



.coupon-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.coupon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.coupon-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: calc(33% - 20px); 
    margin-bottom: 20px;
    padding: 20px;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative; 
}

.coupon-card:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.coupon-code {
    font-size: 20px;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
}

.coupon-info {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.coupon-info span {
    display: block;
    margin-bottom: 8px;
}

.coupon-action {
    text-align: center;
}

.save-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-btn:hover {
    background-color: #218838;
}

.saved-msg {
    color: #888;
    font-size: 14px;
}

.coupon-limit {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff4d4d;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}




button.place_order {
    background-color: #01050a; 
    color: white; 
    padding: 12px 24px; 
    border: none; 
    border-radius: 4px; 
    font-size: 16px; 
    font-weight: bold; 
    text-transform: uppercase; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button.place_order:hover {
    background-color: #021222; 
    transform: scale(1.05); 
}

button.place_order:active {
    transform: scale(0.98); 
}

#wishlist-message {
    position: fixed; 
    top: 0px; 
    right: 0px; 
    z-index: 9999; 
    padding: 15px;
    transition: opacity 0.5s ease; 
}

.alert-success {
    background-color: #dff0d8;
    color: #3c763d; 
}

.alert-danger {
    background-color: #f2dede;
    color: #a94442;
}


.add-to-cart-button {
    display: inline-block;
    line-height: 40px; 
    height: 40px; 
    padding: 0 15px; 
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.comment-container {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.comment-date {
    font-size: 0.9em;
    color: #666;
}

.comment-content p {
    margin: 0;
    padding: 5px 0;
}

.replies-container {
    margin-left: 20px;
    border-left: 2px solid #4f6175;
    padding-left: 10px;
}

.reply-item {
    padding: 5px 0;
}

.btn-reply {
    margin-top: 10px;
    font-size: 12px;
    background-color: #616b76;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 3px 20px;
    cursor: pointer;
}

.btn-reply:hover {
    background-color: #414f5e;
}


.reply-form {
    margin-top: 10px;
}

.form-group {
    margin-bottom: 10px;
}

textarea.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.btn-submit {
    font-size: 12px;
    background-color: #24402b;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #335e3c;
}

.mb20 {
    margin-bottom: 20px;
}


input[type="radio"] {
    display: none;
}

label i.fa-star {
    color: #f5a623 ; 
    cursor: pointer;
}

input[type="radio"]:checked ~ label i.fa-star {
    color: #f5a623 ; 
}

label:hover ~ label i.fa-star {
    color: #ccc !important; 
}
  
input[type="radio"]:checked + label ~ label i.fa-star {
    color: #ccc; 
}

label i.fa-star:hover,
label i.fa-star:hover ~ label i.fa-star {
    color: #f5a623;
}


.out-of-stock {
    background-color: #ea0909fe; 
    color: white; 
    padding: 1px 5px; 
    border-radius: 5px; 
  }

.banner-text {
    position: absolute;
    top: 2px;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.banner-text h5 {
    text-align: center;
    font-size: 18px;
    background-color: rgba(33, 29, 29, 0.6);
    padding: 5px;
}

.banner-text p {
    text-align: justify;
    background-color: rgba(243, 241, 241, 0.6);
    padding: 7px;
    margin-top: 5px;
}

.fixed-frame {
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #f4f4f4; 
    border-radius: 8px; 
}

.ml25 {
    margin-left: 30px;
}

.fixed-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
}

.mb50 {
    margin-bottom: 50px;
}


.notification-wrapper {
    position: relative;
    display: inline-block;
}

.notification-icon {
    font-size: 24px;
    color: #555;
    cursor: pointer;
    position: relative;
}

.notification-icon:hover {
    color: #007bff;
}


.notification-badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 50%;
}


.notification-list {
    position: absolute;
    max-height: 400px; 
    overflow-y: auto; 
    top: 40px;
    right: 0;
    width: 300px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1000;
}

.notification-list ul {
    list-style: none;
    margin: 0;
    padding: 10px;
}

.notification-list ul li {
    padding: 10px;
    border-bottom: 1px solid #f1f1f1;
    font-size: 14px;
}

.notification-list ul li:last-child {
    border-bottom: none;
}

.notification-list p {
    margin: 10px;
    font-size: 14px;
    color: #666;
}


.notification-list.active {
    display: block;
}


.notification-list a.btn {
    font-size: 12px;
    color: #fff; 
    background-color: #547496; 
    padding: 2px 10px; 
    margin-bottom: 10px; 
    margin-right: 10px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none; 
    transition: all 0.3s ease; 
    float: right;
}

.notification-list a.btn:hover {
    background-color: #73a9df;
}



.notification-list a {
    color: black; 
    text-decoration: none; 
    font-size: 12px;
    font-weight: 300; 
}

.notification-list a:hover {
    color: #ccc;  
}
