

.mt22 {
    margin-top: 22px;
}

.tbf {
    font-size: 14px;
    font-weight: 400; 
}

.tbf thead th {
    font-size: 14px;  
    font-weight: 500; 
}

.tbf tbody td {
    font-size: 14px;  
    font-weight: 400;
}

.button-row1 a {
    font-size: 13px;
    font-weight: 500;
}

.mt50 {
    margin-top: 50px;
}

.mtt30 {
    margin-top: 30px;
}

.mt20 {
    margin-top: 20px;
}

.mt100 {
    margin-top: 100px;
}

.ml20 {
    margin-left: 20px;
}

.ml10 {
    margin-left: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.pb40 {
    padding-bottom: 40px;
}
.icon-add-quantity {
    background-color: rgb(55, 236, 182); 
    padding: 5px;
    display: inline-block; 
    border-radius: 5px; 
    margin-left: 10px;
}

.icon-add-quantity i, .icon-add-quantity a {
    display: inline-block; 
    color: white; 
    text-decoration: none; 
}

.icon-add-quantity i {
    margin-right: 2px; 
    margin-left: 5px;
}

.icon-add-quantity a:hover {
    color: rgb(94, 193, 47);
}

.w200 {
    width: 200px;
}

.mr10 {
    margin-right: 40px;
}

.mr8 {
    margin-right: 28px;
}

.card-header {
    background-color: rgb(159 226 158);
    padding: 10px; 
}

.product-list-horizontal {
    max-width: 100%; /* Giới hạn chiều rộng của khung */
    overflow-x: auto; /* Bật cuộn ngang */
    white-space: nowrap; /* Giữ tất cả sản phẩm trên một dòng */
    border: 1px solid #ddd; /* Viền khung */
    padding: 10px; /* Khoảng cách bên trong khung */
    border-radius: 8px; /* Góc bo tròn */
    background-color: #f9f9f9; /* Nền nhạt */
}

.product-item-horizontal {
    display: inline-block; /* Hiển thị sản phẩm ngang */
    text-align: center; /* Căn giữa nội dung */
    margin-right: 10px; /* Khoảng cách giữa các sản phẩm */
    width: 120px; /* Chiều rộng mỗi sản phẩm */
}

.product-item-horizontal img {
    width: 100px; /* Kích thước ảnh */
    height: 100px;
    object-fit: cover; /* Đảm bảo ảnh giữ tỷ lệ */
    border-radius: 5px; /* Bo góc ảnh */
    margin-bottom: 5px;
}

.product-item-horizontal input {
    margin-top: 5px; /* Khoảng cách trên của checkbox */
}