.btn-primary{
    margin-left: 14px;
}
.btn-primary1{
    margin-left: 0px;
}
.m-b{
    margin-left: 0;
}
.btn-w-m{
    background-color: #f3f3f4;
    margin-left: 14px;
}
.icheckbox_square-green{
    position: relative;
}
.i-checks{
    position: absolute; 
    opacity: 0;
}
.iCheck-helper{
    position: absolute; 
    top: 0%; 
    left: 0%; 
    display: block; 
    width: 100%; 
    height: 100%; 
    margin: 0px; 
    padding: 0px; 
    background: rgb(255, 255, 255); 
    border: 0px; 
    opacity: 0;
}
button.dim {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding-top: 6px;   
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    margin: 0px;
    margin-bottom: 0px !important;
}
button.btn-success.dim {
    box-shadow: none;
}
button.btn-danger.dim {
    box-shadow: none;
    background-color: #ed5565;
}

.col-2 {
    width: 47%;
    float: left;   
}
.col-4 {
    width: 22%;
    float: left;  
}

.col-3 {
    width: 30%;
    float: left;   
}

.mr20 {
    margin-right: 20px;
}
.mr5 {
    margin-right: 5px;
}
.ml20 {
    margin-left: 20px;
}
.ml40 {
    margin-left: 42px;
}
.ml30 {
    margin-left: 34px;
}
.ml12 {
    margin-left: 12px;
}
.ml5 {
    margin-left: 3px;
}
.ml10 {
    margin-left: 10px;
}

.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mb20 {
    margin-bottom: 20px;
}
.mt5 {
    margin-top: 5px;
}

.col-5 {
    width: 18%;
    float: left;    
}

.col-6 {
    width: 14%;
    float: left;
}

.col-7{
    width: 12%;
    float: left;

}

.col-md-3 {
    margin-left: 0px;
    margin-top: 23px;
    margin-right: 0px;
}

.m-b-sm{
    margin-bottom: 0px;
}
.button-row {
    display: flex; 
    justify-content: space-between; 
  }
.button-cell {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
}
.button-row1 {
    display: flex; 
    justify-content: none; 
}

.font-white {
    color: #fff;
}

.card-header{
    background-color: rgb(226, 197, 158);
}

.mfmr20 {
    margin-left: 20px;
    margin-right: 20px;
}
.ml5 {
    margin-left: 25px;
}